body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left:20px;
}
.footer-para{
  font-size: small;
}
.footer-anchor{
  text-decoration: none;
  color: #6c757d;
  padding-bottom: 2rem;
}

.universe img{
  width: 10rem;
  height: 3rem;
}
.pricing img{
  width: 20rem;
  height: 15rem;
}
#supportHero{
  background-color:	#387ED1;
  color: white;
}
#supportHero a{
   color: white;
}
#supportHero input{
  height: 4rem;
  width: 30rem;
  border-radius: 8px;
  border:0 solid white;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 5rem 0 5rem;
}